/* 教材の解答↓ */
.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}


/* 自分の解答↓ */
/* .header {
    padding: 10px;
    background-color: #000;
}
.header-logo {
    margin: 0px;
}
.header-link {
    color: #fff;
    text-decoration: none;
} */